<div class="banner banner-height" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.4)), url(<%= @list.image_url %>)";>
  <div class="container">
    <h1><%= @list.name %></h1>
  </div>
</div>

<div class="container">
  <div class="row mt-5">

    <div class ="col-12 col-lg-8">
      <div class="cards">
        <% @list.bookmarks.each do |bookmark| %>
          <div class="card-trip">
          <img src="<%= bookmark.movie.poster_url%>">
            <div class="card-trip-infos">
              <div>
                <h2><%= bookmark.movie.title %></h2>
                <p><%= bookmark.movie.overview %></p>
              </div>
              <h2 class="card-trip-pricing">
                <%= link_to "Delete", bookmark_path(bookmark),
                data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
              </h2>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-12 col-lg-4">
      <div class="container text-center pb-3">
        <h3>Add a movie to your <strong><%= @list.name %></strong> list</h3>
      </div>
      <div class="row justify-content-center">
          <%= simple_form_for [@list, @bookmark] do |f| %>
            <%= f.input :comment, placeholder: 'Enter a comment about the movie' %>
            <%= f.association :movie, prompt: "Select a movie", input_html: {data: { controller: "tom-select"}} %>
            <%= f.submit class: "btn btn-dark" %>
          <% end %>
      </div>
    </div>
  </div>
  <div class = "p-5 d-flex justify-content-center">
    <%= link_to "Delete the list", list_path, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:  "btn btn-dark" %>
  </div>

  <div class="row">
    <div class="col-12 col-sm-6">
      <h3>Reviews</h3>
      <% if @list.reviews.empty? %>
        <small><em class="text-muted">Be the first one to review this list</em></small>
      <% end %>
      <% @list.reviews.each do |review| %>
        <div>
          <% review.rating.times do %>
            <i class="fas fa-star star-yellow"></i>
          <% end %>
          <small><em class="text-muted"><%= distance_of_time_in_words_to_now(review.created_at) %> ago</em></small>
          <p class="mb-0"><%= review.comment %></p>
        </div>
        <hr>
      <% end %>
    </div>
    <div class="col-12 col-sm-6">
      <div class="bg-white rounded p-3">
        <h5>Add your review</h5>
        <%= simple_form_for [@list, @review] do |f| %>
          <%= f.input :comment, placeholder: "Add your review here..." %>
          <%= f.input :rating, as: :select, collection: (1..5), required: true, prompt: "What's your rating", input_html: { data: { controller: "star-rating" } } %>
          <%= f.submit class:"btn btn-flat" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
