<%= render "navbar", list: @list %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://media.gqmagazine.fr/photos/6399e729aa342b4423bab367/16:9/w_2560%2Cc_limit/GettyImages-636899879.jpg)";>
  <div class="container">
    <h1><%= @list.name %></h1>
  </div>
</div>

<div class="container">
  <div class="row mt-5">

    <div class ="col-12 col-lg-8">
      <div class="cards">
        <% @list.bookmarks.each do |bookmark| %>
          <div class="card-trip">
          <img src="<%= bookmark.movie.poster_url%>">
            <div class="card-trip-infos">
              <div>
                <h2><%= bookmark.movie.title %></h2>
                <p><%= bookmark.movie.overview %></p>
              </div>
              <h2 class="card-trip-pricing">
                <%= link_to "Delete", bookmark_path(bookmark),
                data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
              </h2>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-12 col-lg-4">
      <div class="container text-center pb-3">
        <h3>Add a movie to your <strong><%= @list.name %></strong> list</h3>
      </div>
      <div class="row justify-content-center">
          <%= simple_form_for [@list, @bookmark] do |f| %>
            <%= f.input :comment, placeholder: 'Enter a comment about the movie' %>
            <%= f.association :movie, prompt: "Select a movie", input_html: {data: { controller: "tom-select"}} %>
            <%= f.submit class: "btn btn-dark" %>
          <% end %>
      </div>
    </div>
  </div>
  <div class = "p-5 d-flex justify-content-center">
    <%= link_to "Delete the list", list_path, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:  "btn btn-dark" %>
  </div>

</div>

<%= render "footer", list: @list %>
